@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 10px solid #b6aa0a;
  border-top: 10px solid #318b0d;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
