.Controls {
  display: flex;
  flex-direction: row;
}

.Number {
  padding: 0.5rem;
}

.buttonCount {
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: rgb(57, 126, 57);
}

.botonComprar {
  margin-top: 2rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  background-color: rgb(57, 126, 57);
  margin-left: 0.25rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.Counter {
  padding-top: 0.5rem;
}
