@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");

.greeting {
  color: #068fff;
  text-align: center;
  padding: 1rem;
  font-family: "Kanit", sans-serif;
}

.itemGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.mainTitle {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
}
